header{
	padding: 15px 0;
	height: 100px;
}
.container{
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}
.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo img{
	width: 100px;
}
header li{
	margin-left: 10px;
	font-size: 20px;
}
.burger{
	display: none;
}
.nav a{
	color: #3F59A6;
	text-decoration: none;
	
}
.first{
	background-color: gray;
	padding: 15px 0;
}
.first img{
	width: 100%;
}
.second{
	background-color: #BDCCD4;
	padding-top: 15px 0;
}
.second h3{
	font-size: 28px;
	color: blue;
	margin-bottom: 35px;
}
.box{
	width: 270px;
	height: 270px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}
.box img{
	height: 210px;
	width: inherit;
}
.box p{
	background-color: gray;
	font-size: 24px;	
	padding-top: 15px 0;
	width: inherit;
}
@media (max-width: 1200px){
	.container{
		max-width: 960px;
		flex-wrap: wrap;
	}
	/*
	.flex{
		flex-wrap: wrap;
	}
	*/
	.box:last-child{
		display: none;
	}
}
@media (max-width: 1024px){
	.nav{
		display: none;
	}
	.burger{
		display: block;
	}
	.container{
		max-width: 760px;
	}
	.box{
		width: 240px;
	}
	.box img{
		width: 100%;
		height: initial;
	}
}
@media (max-width: 776px){
	.social-li{
		display: none;
	}
	.container{
		max-width: 480px;
	}
	.flex{
		flex-wrap: wrap;
	}
}